{% extends 'base.html' %}
{% block body %}
    <ul>
{% for item in object_list %}


    <div class="col-lg-2" >
        <div class="panel panel-default">


            <div class="panel-heading">
              <a href="{% url 'item_detail' item.id %}">{{item.item_name}}</a>
            </div>

            <div class="panel-body"><img src="{{ item.item_url }}" class="img-responsive img-rounded" /></div>
            <div class="panel-footer">

                    {{item.item_price}}

                <form method="POST" action="{% url 'addtocart' %}">
                  {% csrf_token %}
                    
                    <input type="radio" id="size" name="size" value="sml">
                    <input type="radio" id="size" name="size" value="md">
                    <input type="radio" id="size" name="size" value="lrg">


                  <button type="submit" class="btn btn-default pull-right">Add</button>

                </form>
              <div class="clearfix"></div>
            </div>

        </div>
        </div>
         </div>
         </div>


{% endfor %}
    </ul>
{% endblock %}


